@import '../../styles/charte.sass'
.sub-menu
  position: absolute
  border: 2px solid $darkestblue
  top: 2rem
  min-width: 100px
  z-index: 1
  background-color: $appToolBarBg
  &-list
    padding:  0
    display: flex
    flex-direction: column
    &-item
      padding: 0
      &-btn
        border: none
        background-color: transparent
        cursor: pointer
        width: 100%
        padding: .5rem
        text-align: start
        outline: none
        &:hover
          background-color: lighten($appToolBarBg, 5%)
        &:active
          background-color: lighten($appToolBarBg, 10%)

