@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.sub-menu {
  position: absolute;
  border: 2px solid #0a1c28;
  top: 2rem;
  min-width: 100px;
  z-index: 1;
  background-color: #D2D3D9; }
  .sub-menu-list {
    padding: 0;
    display: flex;
    flex-direction: column; }
    .sub-menu-list-item {
      padding: 0; }
      .sub-menu-list-item-btn {
        border: none;
        background-color: transparent;
        cursor: pointer;
        width: 100%;
        padding: .5rem;
        text-align: start;
        outline: none; }
        .sub-menu-list-item-btn:hover {
          background-color: #e0e1e5; }
        .sub-menu-list-item-btn:active {
          background-color: #eeeef0; }
