@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.task-list {
  overflow: auto;
  max-width: 20%;
  border-right: 2px solid #0a1c28; }
  .task-list-item {
    cursor: pointer;
    transition: all 150ms; }
    .task-list-item-selected button {
      color: #d44c00; }
