@import '../../../../../styles/charte.sass'
.task-list
  overflow: auto
  max-width: 20%
  border-right: 2px solid $darkestblue
  &-item
    cursor: pointer
    transition: all 150ms
    &-selected
      & button
        color: $orange