.badge-notifications {
  position: absolute;
  right: -13px;
  top: -12px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: red;
  font-size: .7rem;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center; }
