@import '../dashboard.sass'

#footer
  display: flex
  align-items: center
  z-index: 90
  background-color: $darkestblue
  width: 100%
  background: linear-gradient(to bottom, #22323d 5%,#0a1c28 10%)
  height: 80px
  justify-content: space-between
  .footer-app-icon
    display: flex
  .app-btn
    margin-left: 1rem
    cursor: pointer
    background: none
    border: 1px solid transparent
    box-shadow: 0px 0px 20px 0px transparent
    border-radius: 10%
    color: $beige
    padding: 0.5rem 0.5rem
    display: flex
    flex-direction: column
    align-items: center
    outline: none
    transition: color 400ms
    transition: box-shadow 500ms
    transition: background 600ms
    &:hover, &:focus
      color: $beige
      box-shadow: 0px 0px 10px 0px gray
      background-color: $orange
    &:active
      color: $darkestblue
      box-shadow: 0px 0px 10px 0px gray
      border: 1px solid $darkestblue
      background-color: $lightblue
    .active-app-circle
      background-color: $orange
      border-radius: 50%
      width: 5px
      height: 5px
      position: absolute
      bottom: 15px
  .btn-container
    position: relative
    .btn-title
      display: none
    .logout
      margin-right: 1rem