@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.dashboard {
  position: relative;
  background-color: #41848f;
  height: 98%;
  display: flex;
  align-items: center;
  justify-content: center; }

#footer {
  display: flex;
  align-items: center;
  z-index: 90;
  background-color: #0a1c28;
  width: 100%;
  background: linear-gradient(to bottom, #22323d 5%, #0a1c28 10%);
  height: 80px;
  justify-content: space-between; }
  #footer .footer-app-icon {
    display: flex; }
  #footer .app-btn {
    margin-left: 1rem;
    cursor: pointer;
    background: none;
    border: 1px solid transparent;
    box-shadow: 0px 0px 20px 0px transparent;
    border-radius: 10%;
    color: #eee9d1;
    padding: 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    outline: none;
    transition: color 400ms;
    transition: box-shadow 500ms;
    transition: background 600ms; }
    #footer .app-btn:hover, #footer .app-btn:focus {
      color: #eee9d1;
      box-shadow: 0px 0px 10px 0px gray;
      background-color: #d44c00; }
    #footer .app-btn:active {
      color: #0a1c28;
      box-shadow: 0px 0px 10px 0px gray;
      border: 1px solid #0a1c28;
      background-color: #97c0b7; }
    #footer .app-btn .active-app-circle {
      background-color: #d44c00;
      border-radius: 50%;
      width: 5px;
      height: 5px;
      position: absolute;
      bottom: 15px; }
  #footer .btn-container {
    position: relative; }
    #footer .btn-container .btn-title {
      display: none; }
    #footer .btn-container .logout {
      margin-right: 1rem; }
