@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
#dashboard {
  position: relative;
  background-color: #41848f;
  height: 100%;
  display: flex;
  align-items: flex-end; }

#footer {
  z-index: 3000;
  height: 60px;
  background-color: #0a1c28;
  width: 100%;
  background: linear-gradient(to bottom, #22323d 5%, #0a1c28 10%); }
