@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
#dashboard {
  position: relative;
  background-color: #41848f;
  height: 100%;
  display: flex;
  align-items: flex-end; }

#footer {
  display: flex;
  align-items: center;
  z-index: 3000;
  background-color: #0a1c28;
  width: 100%;
  background: linear-gradient(to bottom, #22323d 5%, #0a1c28 10%);
  height: 80px;
  justify-content: space-between; }
  #footer .app-btn {
    margin-left: 1rem;
    cursor: pointer;
    background: none;
    border: 1px solid transparent;
    box-shadow: 0px 0px 20px 0px transparent;
    border-radius: 10%;
    color: #eee9d1;
    font-size: 2.5rem;
    padding: 0 0.5rem;
    transition: color 400ms;
    transition: box-shadow 500ms;
    transition: background 600ms;
    outline: none; }
    #footer .app-btn:hover {
      color: #eee9d1;
      box-shadow: 0px 0px 10px 0px gray;
      background-color: #d44c00; }
    #footer .app-btn:active {
      color: #0a1c28;
      box-shadow: 0px 0px 10px 0px gray;
      border: 1px solid #0a1c28;
      background-color: #97c0b7; }
  #footer .btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    #footer .btn-container .btn-title {
      display: none; }
    #footer .btn-container .logout {
      margin-right: 1rem; }
