@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.task {
  position: relative; }

.tab-nav {
  display: flex;
  margin-bottom: .5rem; }
  .tab-nav-button {
    padding: .5rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    transition: all 300ms; }
    .tab-nav-button-selected, .tab-nav-button :hover {
      background-color: #d44c00;
      color: #eee9d1; }
    .tab-nav-button:hover {
      background-color: rgba(212, 76, 0, 0.5);
      color: #eee9d1; }

.tab-content {
  padding: 1rem 0; }
  .tab-content-children {
    padding-top: .5rem; }
