@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.thumbnail-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 2px solid transparent;
  padding: .3rem;
  transition: all 200ms; }
  .thumbnail-container:hover {
    box-shadow: 0 0 10px 0 #0a1c28; }
  .thumbnail-container .thumbnail {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: .5rem; }
  .thumbnail-container span {
    font-size: .8rem; }
