@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.thumbnail-container {
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  padding: .3rem;
  transition: all 200ms; }
  .thumbnail-container:hover {
    box-shadow: 0 0 10px 0 #0a1c28; }
  .thumbnail-container--selected {
    opacity: .5; }
  .thumbnail-container .thumbnail {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: .5rem; }
  .thumbnail-container span {
    font-size: .8rem; }
  .thumbnail-container .tag-list .tag-item {
    border: 2px solid #eee9d1;
    padding: .2rem .5rem;
    background-color: #008e8b;
    color: #eee9d1;
    font-weight: bold;
    font-size: .7rem;
    cursor: pointer;
    outline: none;
    transition: background-color 300ms; }
    .thumbnail-container .tag-list .tag-item:disabled:hover {
      background-color: #008e8b;
      color: #eee9d1; }
    .thumbnail-container .tag-list .tag-item:hover {
      background-color: #d44c00; }
    .thumbnail-container .tag-list .tag-item:active {
      background-color: #0a1c28; }
    .thumbnail-container .tag-list .tag-item--selected {
      background-color: black; }
      .thumbnail-container .tag-list .tag-item--selected:disabled:hover {
        background-color: black; }
