@import './form.sass'
.btn-form
  border: 2px solid $beige
  background-color: $orange
  color: $beige
  padding: .5rem
  margin-top: .5rem
  font-weight: bold
  font-family: 'Nunito', sans-serif
  cursor: pointer
  transition: all 500ms
  outline: none
  font-size: 1rem
  &:hover
    background-color: $beige
    border: 2px solid $orange
    color: $orange
  &:focus
    background-color: $beige
    border: 2px solid $orange
    color: $orange
  &:active
    background-color: $lightblue
    border: 2px solid $darkestblue
    color: $darkestblue
.disabled
  opacity: 0.6
  cursor: not-allowed