@import '../../styles/charte.sass'

.form-container
  display: flex
  flex-direction: column
  justify-content: center
  padding-top: 5rem
  align-items: flex-start
  min-width: 30%
  .form
    border: 5px solid $orange
    .form-header
      display: flex
      justify-content: flex-start
      background-color: $blue
      h1
        margin: 0
        padding: 1rem
    .form-content
      background-color: $lightblue
      padding: .5rem
      .error-login
        text-align: center