@import '../../styles/charte.sass'

.form-container
  display: flex
  flex-direction: column
  justify-content: flex-start
  padding-top: 5rem
  align-items: stretch
  min-width: 30%
  padding-top: 0
  overflow: auto
  height: calc(100% - 40px)
  .form
    width: 100%
    border: none
    overflow: auto
    height: calc(100% - 10px)
    &-header
      display: flex
      justify-content: flex-start
      background-color: $blue
      h1
        margin: 0
        padding: 1rem
    &-content-wrapper
      display: flex
      justify-content: space-around
      flex-wrap: wrap
    &-content
      background-color: $beige
      padding: .5rem
      flex: 1
      .error-login
        text-align: center
      label
        color: $darkestblue
        font-weight: bold
.form-group
  padding: 0.5rem 0
  &-small
    padding: 0
  .form-control-error
    border-bottom: 2px solid #f8d7da
.error-message
  padding-top: .3rem
  color: #721c24
  font-size: .7rem
.tips
  font-size: .7rem
  font-style: italic
  padding-top: .4rem
