@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 5rem;
  align-items: stretch;
  min-width: 30%;
  padding-top: 0;
  overflow: auto;
  height: 90%; }
  .form-container .form {
    width: 100%;
    border: none;
    overflow: auto;
    white-space: nowrap; }
    .form-container .form .form-header {
      display: flex;
      justify-content: flex-start;
      background-color: #008e8b; }
      .form-container .form .form-header h1 {
        margin: 0;
        padding: 1rem; }
    .form-container .form .form-content-wrapper {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
    .form-container .form .form-content {
      background-color: #97c0b7;
      padding: .5rem;
      flex: 1; }
      .form-container .form .form-content .form-group {
        padding: 0.5rem 0; }
      .form-container .form .form-content .error-login {
        text-align: center; }
      .form-container .form .form-content label {
        color: #0a1c28;
        font-weight: bold; }
