@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem;
  align-items: flex-start;
  min-width: 30%; }
  .form-container .form {
    border: 5px solid #d44c00; }
    .form-container .form .form-header {
      display: flex;
      justify-content: flex-start;
      background-color: #008e8b; }
      .form-container .form .form-header h1 {
        margin: 0;
        padding: 1rem; }
    .form-container .form .form-content {
      background-color: #97c0b7;
      padding: .5rem; }
      .form-container .form .form-content .error-login {
        text-align: center; }

.input-auto {
  display: flex;
  border-bottom: 2px solid #0a1c28;
  align-items: center;
  transition: border-bottom 500ms;
  flex-wrap: wrap; }
  .input-auto:hover {
    border-bottom: 2px solid #d44c00; }
  .input-auto-values {
    display: flex;
    align-items: center;
    border: 2px solid #eee9d1;
    background-color: #008e8b;
    margin-right: .5rem;
    cursor: pointer; }
    .input-auto-values button {
      display: block;
      border: none;
      background-color: #b20000;
      font-weight: bold;
      cursor: pointer;
      padding: .4rem .5rem;
      color: #eee9d1 !important;
      transition: background-color 500ms; }
      .input-auto-values button:hover {
        background-color: #cc0000; }
  .input-auto-value {
    display: block;
    padding: .2rem .5rem;
    border-right: 2px solid #eee9d1;
    color: #eee9d1 !important;
    font-weight: bold; }
  .input-auto input {
    border: none !important;
    padding-left: 0 !important; }
    .input-auto input:focus {
      border-bottom: none !important; }
