@import './form.sass'
.form-group
  display: flex
  flex-direction: column
  padding: 1rem 0
  position: relative
  .form-control
    border: none
    border-bottom: 2px solid transparent
    outline: none
    transition: border-bottom 500ms
    padding-bottom: .5rem
    padding-top: .5rem
    font-size: 1rem
    color: $darkestblue
    font-family: 'Nunito', sans-serif
  input, textarea, select
    transition: border-bottom 200ms
    &:focus
      border-bottom: 2px solid $orange
    &::placeholder
      color: rgba($darkestblue, .54)
      font-weight: normal
      font-size: .8rem
      font-family: 'Nunito', sans-serif
      font-style: italic
    &:hover
      border-bottom: 2px solid $orange