@import './form.sass'
.input-auto
  display: flex
  border-bottom: 2px solid $darkestblue
  align-items: center
  &-values
    padding: .2rem .5rem
    border: 2px solid $beige
    background-color: $orange
    color: $beige !important
    margin-right: .5rem
  input
    border: none !important
    padding-left: 0 !important 
    &:focus
      border-bottom: none !important