@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem;
  align-items: stretch;
  min-width: 30%;
  padding-top: 0;
  overflow: auto;
  height: 90%; }
  .form-container .form {
    width: 100%;
    border: none;
    overflow-x: auto;
    white-space: nowrap; }
    .form-container .form .form-header {
      display: flex;
      justify-content: flex-start;
      background-color: #008e8b; }
      .form-container .form .form-header h1 {
        margin: 0;
        padding: 1rem; }
    .form-container .form .form-content-wrapper {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
    .form-container .form .form-content {
      background-color: #97c0b7;
      padding: .5rem;
      width: 100%; }
      .form-container .form .form-content .form-group {
        padding: 0.5rem 0; }
      .form-container .form .form-content .error-login {
        text-align: center; }
      .form-container .form .form-content label {
        color: #0a1c28;
        font-weight: bold; }

.form-group {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  position: relative; }
  .form-group .form-control {
    background-color: #97c0b7;
    border: none;
    border-bottom: 2px solid #0a1c28;
    outline: none;
    transition: border-bottom 500ms;
    padding-bottom: .5rem;
    padding-top: .5rem;
    font-size: 1rem;
    color: #0a1c28;
    font-family: 'Nunito', sans-serif; }
  .form-group input, .form-group textarea, .form-group select {
    transition: border-bottom 200ms; }
    .form-group input:focus, .form-group textarea:focus, .form-group select:focus {
      border-bottom: 2px solid #d44c00; }
    .form-group input::placeholder, .form-group textarea::placeholder, .form-group select::placeholder {
      color: #0a1c28;
      font-weight: normal;
      font-size: .8rem;
      font-family: 'Nunito', sans-serif; }
