@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 5rem;
  align-items: stretch;
  min-width: 30%;
  padding-top: 0;
  overflow: auto;
  height: calc(100% - 40px); }
  .form-container .form {
    width: 100%;
    border: none;
    overflow: auto;
    height: 100%; }
    .form-container .form-header {
      display: flex;
      justify-content: flex-start;
      background-color: #008e8b; }
      .form-container .form-header h1 {
        margin: 0;
        padding: 1rem; }
    .form-container .form-content-wrapper {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
    .form-container .form-content {
      background-color: #eee9d1;
      padding: .5rem;
      flex: 1; }
      .form-container .form-content .error-login {
        text-align: center; }
      .form-container .form-content label {
        color: #0a1c28;
        font-weight: bold; }

.form-group {
  padding: 0.5rem 0; }
  .form-group-small {
    padding: 0; }
  .form-group .form-control-error {
    border-bottom: 2px solid #f8d7da; }

.error-message {
  padding-top: .3rem;
  color: #721c24;
  font-size: .7rem; }

.tips {
  font-size: .7rem;
  font-style: italic;
  padding-top: .4rem; }

.input-auto {
  display: flex;
  border-bottom: 2px solid #0a1c28;
  align-items: center;
  transition: border-bottom 500ms;
  flex-wrap: wrap;
  padding-bottom: .5rem;
  padding-top: .5rem; }
  .input-auto--focus {
    border-bottom: 2px solid #d44c00; }
  .input-auto:hover {
    border-bottom: 2px solid #d44c00; }
  .input-auto-values {
    display: flex;
    align-items: center;
    border: 2px solid #eee9d1;
    background-color: #008e8b;
    margin-right: .5rem;
    cursor: pointer; }
    .input-auto-values button {
      display: block;
      border: none;
      background-color: #b20000;
      font-weight: bold;
      cursor: pointer;
      padding: .4rem .5rem;
      color: #eee9d1 !important;
      border-left: 2px solid #eee9d1;
      outline: none;
      transition: background-color 500ms; }
      .input-auto-values button:hover {
        background-color: #cc0000; }
  .input-auto-value {
    display: block;
    padding: .2rem .5rem;
    color: #eee9d1 !important;
    font-weight: bold; }
  .input-auto input {
    border: none !important;
    padding-left: 0 !important;
    flex: 1; }
    .input-auto input:focus {
      border-bottom: none !important; }
