@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 5rem;
  align-items: stretch;
  min-width: 30%;
  padding-top: 0;
  overflow: auto;
  height: calc(100% - 40px); }
  .form-container .form {
    width: 100%;
    border: none;
    overflow: auto; }
    .form-container .form .form-header {
      display: flex;
      justify-content: flex-start;
      background-color: #008e8b; }
      .form-container .form .form-header h1 {
        margin: 0;
        padding: 1rem; }
    .form-container .form .form-content-wrapper {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
    .form-container .form .form-content {
      background-color: #eee9d1;
      padding: .5rem;
      flex: 1; }
      .form-container .form .form-content .form-group {
        padding: 0.5rem 0; }
        .form-container .form .form-content .form-group .form-control-error {
          border-bottom: 2px solid #f8d7da; }
      .form-container .form .form-content .error-login {
        text-align: center; }
      .form-container .form .form-content label {
        color: #0a1c28;
        font-weight: bold; }

.error-message {
  padding-top: .3rem;
  color: #721c24;
  font-size: .7rem; }

.tips {
  font-size: .7rem;
  font-style: italic;
  padding-top: .4rem; }

.input-search input {
  text-transform: capitalize; }

.input-search-box {
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
  background-color: #eee9d1;
  z-index: 1; }
  .input-search-box li {
    cursor: pointer;
    padding: 1rem;
    text-transform: capitalize; }
    .input-search-box li:hover {
      background-color: white; }
