@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem;
  align-items: stretch;
  min-width: 30%;
  padding-top: 0;
  overflow: auto;
  height: 90%; }
  .form-container .form {
    width: 100%;
    border: none;
    overflow-x: auto;
    white-space: nowrap; }
    .form-container .form .form-header {
      display: flex;
      justify-content: flex-start;
      background-color: #008e8b; }
      .form-container .form .form-header h1 {
        margin: 0;
        padding: 1rem; }
    .form-container .form .form-content-wrapper {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
    .form-container .form .form-content {
      background-color: #97c0b7;
      padding: .5rem;
      width: 100%; }
      .form-container .form .form-content .form-group {
        padding: 0.5rem 0; }
      .form-container .form .form-content .error-login {
        text-align: center; }
      .form-container .form .form-content label {
        color: #0a1c28;
        font-weight: bold; }

.picture-upload {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1; }

.input-file-label-container {
  border-bottom: 2px solid #0a1c28;
  padding-bottom: .5rem;
  cursor: pointer;
  transition: border-bottom 200ms; }
  .input-file-label-container:hover {
    border-bottom: 2px solid #d44c00; }
  .input-file-label-container .input-file-label {
    cursor: pointer;
    display: inline-block;
    width: 100%; }
