@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 5rem;
  align-items: stretch;
  min-width: 30%;
  padding-top: 0;
  overflow: auto;
  height: calc(100% - 40px); }
  .form-container .form {
    width: 100%;
    border: none;
    overflow: auto;
    height: calc(100% - 10px); }
    .form-container .form-header {
      display: flex;
      justify-content: flex-start;
      background-color: #008e8b; }
      .form-container .form-header h1 {
        margin: 0;
        padding: 1rem; }
    .form-container .form-content-wrapper {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
    .form-container .form-content {
      padding: .5rem;
      flex: 1; }
      .form-container .form-content .error-login {
        text-align: center; }
      .form-container .form-content label {
        color: #0a1c28;
        font-weight: bold; }

.form-group {
  padding: 0.5rem 0; }
  .form-group-small {
    padding: 0; }
  .form-group .form-control-error {
    border-bottom: 2px solid #f8d7da; }

.error-message {
  padding-top: .3rem;
  color: #721c24;
  font-size: .7rem; }

.tips {
  font-size: .7rem;
  font-style: italic;
  padding-top: .4rem; }

.select-small {
  padding: 0 !important;
  border-bottom: none !important; }
