@import '../../../styles/charte.sass'

.user
  padding: 1rem
  h1
    margin: 1rem 0
  &-picture
    width: 150px
    height: 150px
    padding-left: .5rem
    border-radius: 50%
  &-detail-list
    li
      padding: .2rem
      span
        font-weight: bold
