@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.user {
  padding: 1rem; }
  .user h1 {
    margin: 1rem 0; }
  .user-picture {
    width: 150px;
    height: 150px;
    padding-left: .5rem;
    border-radius: 50%; }
  .user-detail-list li {
    padding: .2rem; }
    .user-detail-list li span {
      font-weight: bold; }
