@import '../../../styles/charte.sass'

.user
  padding: 1rem
  &-picture
    width: 150px
    height: 150px
    padding-left: .5rem
    border-radius: 50%
  &-detail-list
    li
      padding: .2rem
  .tag-list
    display: flex
    & .tag-item
      background-color: $blue
      margin-right: .5rem
      border: 2px solid $beige
      color: $beige
      padding: .3rem
      font-weight: bold
