@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.project-container {
  height: 100%; }

.teams-container-buttons-item {
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem 0 0; }
