@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.project-container {
  height: 100%; }

.teams-container {
  display: flex;
  flex-direction: column; }
  .teams-container-buttons {
    margin-top: 2rem; }
    .teams-container-buttons-item {
      margin-bottom: 1rem; }
