@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.project-container {
  height: 100%; }
  .project-container-form {
    padding-right: 2rem;
    position: relative; }
  .project-container .project-input-search-container {
    padding: 0; }
  .project-container .project-input-search {
    padding: 0;
    background-color: transparent; }
    .project-container .project-input-search-icon {
      position: absolute;
      top: 2px;
      right: 2rem;
      transition: all 300ms; }
      .project-container .project-input-search-icon:hover {
        color: #d44c00; }

.teams-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto; }
  .teams-container-buttons {
    margin-top: 2rem; }
    .teams-container-buttons-item {
      margin-bottom: 1rem; }
