@import '../index.sass'
$height: 40px
$heightDouble: calc(#{$height} * 2)
$heightHalf: calc(#{$height} / 2)
.team-widget
  padding: 1rem 0
  & h2
    font-weight: bold
  & .mini-container
    display: flex
    & .user-icon
      padding: 0
      & .mini-thumbnail
        margin: 0