@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.project-container {
  height: 100%; }
  .project-container-form {
    padding-right: 2rem;
    position: relative; }
  .project-container .project-input-search-container {
    padding: 0; }
  .project-container .project-input-search {
    padding: 0;
    background-color: transparent; }
    .project-container .project-input-search-icon {
      position: absolute;
      top: 2px;
      right: 2rem;
      transition: all 300ms; }
      .project-container .project-input-search-icon:hover {
        color: #d44c00; }
  .project-container .btn-asc {
    background-color: transparent;
    border: none;
    margin-right: 1rem;
    outline: none;
    display: flex;
    position: relative; }

#edit-project {
  color: #0a1c28; }
  #edit-project .project-content {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem; }
  #edit-project .project-toolbar {
    padding: 1rem; }

.actions {
  position: absolute;
  right: 20px;
  top: 40%;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .actions .subscribed {
    border: 2px solid #eee9d1;
    background-color: #d44c00;
    color: #eee9d1; }
    .actions .subscribed:hover {
      background-color: #ee5500; }
  .actions-button {
    width: 30px;
    height: 30px;
    margin-bottom: .5rem;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    color: #0a1c28;
    transition: all 500ms; }
    .actions-button-subscribe {
      border: 2px solid #0a1c28;
      background-color: #41848f; }
    .actions-button-share {
      border: 2px solid #eee9d1;
      background-color: #0073b1;
      color: #eee9d1; }
    .actions-button:hover {
      background-color: #4994a1; }
    .actions-button:active {
      box-shadow: 0 0 5px 1px #0a1c28;
      background-color: #d44c00;
      border: 2px solid #eee9d1;
      color: #eee9d1; }

.team-widget {
  padding: 1rem 0; }
  .team-widget h2 {
    font-weight: bold; }
  .team-widget .mini-container {
    display: flex; }
    .team-widget .mini-container .user-icon {
      padding: 0; }
      .team-widget .mini-container .user-icon .mini-thumbnail {
        margin: 0; }
