@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.project-container {
  height: 100%; }

#edit-project {
  color: #0a1c28; }

.subscribe {
  position: absolute;
  right: 21px;
  top: 50%; }
  .subscribe .btn-subscribe {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #0a1c28;
    background-color: #41848f;
    cursor: pointer;
    outline: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    color: #0a1c28;
    transition: all 500ms; }
    .subscribe .btn-subscribe:hover {
      background-color: #4994a1; }
    .subscribe .btn-subscribe:active {
      box-shadow: 0 0 5px 1px #0a1c28;
      background-color: #d44c00;
      border: 2px solid #eee9d1;
      color: #eee9d1; }
  .subscribe .subscribed {
    background-color: #d44c00;
    color: #eee9d1;
    border: 2px solid #eee9d1; }
    .subscribe .subscribed:hover {
      background-color: #ee5500; }

.company {
  display: flex;
  align-items: flex-start;
  margin-bottom: .5rem;
  border-bottom: 2px solid #0a1c28;
  padding-bottom: 1rem; }
  .company-logo {
    width: 60px;
    height: 60px; }
  .company-info {
    margin-left: 1rem; }
    .company-info-name {
      margin-left: .3rem;
      font-weight: bold; }
  .company-author {
    display: flex;
    align-items: center; }

.team-widget {
  display: flex;
  align-items: center;
  margin-top: .5rem; }
  .team-widget-content {
    display: flex;
    flex-direction: column;
    padding-left: 1rem; }
  .team-widget h2 {
    font-weight: bold; }
  .team-widget .mini-container {
    position: relative;
    height: calc(30px * 2);
    display: flex;
    align-items: center;
    width: calc(30px * 2); }
    .team-widget .mini-container .mini-thumbnail:nth-of-type(even) {
      position: absolute;
      top: 0px;
      left: calc(30px / 2); }
    .team-widget .mini-container .mini-thumbnail:nth-of-type(even):last-child {
      position: absolute;
      bottom: 0px;
      left: calc(30px / 2);
      top: 30px; }
  .team-widget .mini-thumbnail {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 300ms; }
    .team-widget .mini-thumbnail:hover {
      border: 2px solid #d44c00;
      z-index: 1; }
