@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.project-container {
  height: 100%; }

#edit-project {
  color: #0a1c28; }
  #edit-project .project-content {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem; }
  #edit-project .project-toolbar {
    padding: 1rem; }

.actions {
  position: absolute;
  right: 20px;
  top: 40%;
  display: flex;
  align-items: center;
  flex-direction: column; }
  .actions .subscribed {
    border: 2px solid #eee9d1;
    background-color: #d44c00;
    color: #eee9d1; }
    .actions .subscribed:hover {
      background-color: #ee5500; }
  .actions-button {
    width: 30px;
    height: 30px;
    margin-bottom: .5rem;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    color: #0a1c28;
    transition: all 500ms; }
    .actions-button-subscribe {
      border: 2px solid #0a1c28;
      background-color: #41848f; }
    .actions-button-share {
      border: 2px solid #eee9d1;
      background-color: #0073b1;
      color: #eee9d1; }
    .actions-button:hover {
      background-color: #4994a1; }
    .actions-button:active {
      box-shadow: 0 0 5px 1px #0a1c28;
      background-color: #d44c00;
      border: 2px solid #eee9d1;
      color: #eee9d1; }

.company {
  display: flex;
  align-items: flex-start;
  margin-bottom: .5rem;
  border-bottom: 2px solid #0a1c28;
  padding-bottom: 1rem;
  min-height: 60px; }
  .company-logo {
    width: 60px;
    height: 60px; }
  .company-info {
    margin-left: 1rem; }
    .company-info-name {
      margin-left: .3rem;
      font-weight: bold; }
  .company-author {
    display: flex;
    align-items: center; }

.team-widget {
  display: flex;
  margin-top: .5rem;
  align-items: center; }
  .team-widget-content {
    display: flex;
    flex-direction: column;
    padding-left: 1rem; }
  .team-widget h2 {
    font-weight: bold; }
  .team-widget .mini-container {
    position: relative;
    height: calc(30px * 2);
    display: flex;
    align-items: center;
    width: calc(30px * 2); }
    .team-widget .mini-container .mini-thumbnail:nth-of-type(even) {
      position: absolute;
      top: 0px;
      left: calc(30px / 2); }
    .team-widget .mini-container .mini-thumbnail:nth-of-type(even):last-child {
      position: absolute;
      bottom: 0px;
      left: calc(30px / 2);
      top: 30px; }
  .team-widget .mini-thumbnail {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    transition: all 300ms; }
    .team-widget .mini-thumbnail:hover {
      border: 2px solid #d44c00;
      z-index: 1; }
