@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.project-container {
  height: 100%; }

.modal-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(10, 28, 40, 0.7);
  display: flex;
  justify-content: center; }

.modal-container {
  margin: 1rem;
  border: 5px solid #0a1c28;
  background-color: #97c0b7;
  min-width: 90%;
  height: 95%;
  overflow: hidden; }

.modal-header {
  display: flex;
  justify-content: space-between;
  padding: .5rem; }

.modal-content {
  height: 90%;
  overflow: auto; }
  .modal-content .form-container {
    height: auto;
    width: 100%; }
  .modal-content .form {
    overflow: hidden;
    overflow-x: auto; }

.modal-btn {
  outline: none;
  cursor: pointer;
  background: none;
  border: none;
  color: #ff6666;
  right: 14rem;
  transition: color 500ms; }
  .modal-btn:hover, .modal-btn:focus {
    color: red; }
  .modal-btn:active {
    color: #990000; }
