@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.chat {
  display: flex;
  height: 100%;
  background-color: #97c0b7; }
  .chat-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: .5rem; }
  .chat-message-list {
    overflow: auto;
    height: 100%; }

.connected-user {
  padding: .5rem; }
  @media (max-width: 500px) {
    .connected-user {
      display: none; } }
  .connected-user-list {
    padding: .5rem; }
    .connected-user-list li {
      transition: all 300ms;
      cursor: pointer; }
      .connected-user-list li:hover {
        background-color: rgba(255, 255, 255, 0.2); }
