@import '../index.sass'
.send-room-message-form
  display: flex
  margin-top: .5rem
  height: 3rem
  border: 2px solid $darkestblue
  & input
    width: 100%
    border: none
    outline: none
  & button
    margin: 0