.send-room-message-form {
  display: flex;
  margin-top: .5rem;
  height: 3rem; }
  .send-room-message-form input {
    width: 100%;
    border: none; }
  .send-room-message-form button {
    margin: 0; }
