@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
#homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: calc(100% - 5rem);
  padding-top: 5rem;
  background-color: #eee9d1; }
  #homepage .subtitle {
    font-size: 2rem;
    padding: 1rem; }
  #homepage .huge-title {
    font-size: 2rem;
    padding: 1rem 0; }
  #homepage .explication {
    font-size: 1.2rem;
    line-height: 1.7rem;
    width: 80%; }
  #homepage em {
    font-weight: bold; }
  #homepage q {
    font-style: italic;
    font-weight: bold; }

#signin-form {
  align-items: stretch;
  padding-top: 5rem;
  height: initial; }
  #signin-form .form {
    width: inherit;
    border: 5px solid #d44c00; }
  #signin-form label {
    color: #0a1c28; }
  #signin-form .form-content {
    width: inherit; }
