@import '../home.sass'

#signin-form
  align-items: stretch
  padding-top: 5rem
  height: initial
  .form
    width: inherit
    border: 5px solid $orange
  label
    color: $darkestblue
  .form-content
    width: inherit