@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.project-container {
  height: 100%; }
  .project-container-form {
    padding-right: 2rem;
    position: relative; }
  .project-container .project-input-search-container {
    padding: 0; }
  .project-container .project-input-search {
    padding: 0;
    background-color: transparent; }
    .project-container .project-input-search-icon {
      position: absolute;
      top: 2px;
      right: 2rem;
      transition: all 300ms; }
      .project-container .project-input-search-icon:hover {
        color: #d44c00; }

.table {
  width: 100%; }
  .table, .table tr {
    border: 1px solid #0a1c28; }
  .table td, .table th {
    padding: 1rem; }
  .table thead tr th {
    font-weight: bold;
    text-align: center; }
    .table thead tr th:first-child {
      text-align: left; }
  .table tbody tr {
    transition: background-color 200ms; }
    .table tbody tr:hover {
      background-color: #41848f; }
    .table tbody tr td {
      text-align: center; }
      .table tbody tr td:first-child {
        text-align: left; }
