.cropper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
  background-color: black; }
  .cropper-container {
    width: 30%; }
  .cropper-toolbar {
    display: flex;
    justify-content: space-around; }
    .cropper-toolbar button {
      margin: 0; }
    .cropper-toolbar .input-file-label {
      margin: 0; }

.cropper-bg {
  background-image: url("/img/black.jpg") !important; }
