@import '../header.sass'

#navbar
  ul
    display: flex
    list-style: none
    margin: 0
    li
      padding: 1rem
      cursor: pointer
      // transition: background-color 2s
      transition: all 200ms ease-out
      &:hover
        background-color: $orange
        color: $beige
      a
        text-decoration: none
        color: black