@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
#homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: calc(100% - 4rem);
  padding-top: 4rem; }
  #homepage .subtitle {
    font-size: 2rem;
    padding: 1rem;
    font-weight: bold;
    text-transform: uppercase; }
  #homepage .huge-title {
    font-size: 2.5rem;
    padding: 1rem 0; }
  #homepage .explication {
    font-size: 1.2rem;
    line-height: 1.7rem;
    width: 80%; }
    @media (max-width: 500px) {
      #homepage .explication {
        width: 100%;
        text-align: center; } }
  #homepage em {
    font-weight: bold; }
  #homepage q {
    font-style: italic;
    font-weight: bold; }
  #homepage ol {
    list-style-type: decimal;
    padding-left: 1.5rem; }

.home-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  z-index: 1;
  background-color: #008e8b; }
  .home-header:after {
    content: '';
    height: 5px;
    background-color: #d44c00;
    color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
  .home-header h1 {
    margin: 0; }
  .home-header-logo a {
    color: #0a1c28; }
  @media (max-width: 500px) {
    .home-header-subtitle {
      display: none; } }

#navbar ul {
  display: flex;
  list-style: none; }
  #navbar ul li {
    cursor: pointer;
    margin-right: 1rem; }
    #navbar ul li a {
      margin: 0; }
