@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
#homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: calc(100% - 5rem);
  padding-top: 5rem;
  background-color: #eee9d1; }

.home-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  z-index: 1;
  background-color: #008e8b; }
  .home-header:after {
    content: '';
    height: 5px;
    background-color: #d44c00;
    color: red;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
  .home-header h1 {
    margin: 0; }

#navbar ul {
  display: flex;
  list-style: none; }
  #navbar ul li {
    cursor: pointer;
    margin-right: 1rem; }
    #navbar ul li a {
      text-decoration: none;
      display: inline-block; }
