@import '../../styles/charte.sass'
.user-dot
  position: absolute
  bottom: 0px
  right: 0px
  width: 10px
  height: 10px
  border-radius: 50%
  border: 2px solid white
  background-color: gray
  &-small
    width: 5px
    height: 5px
    border: 1px solid white
  &-connected
    background-color: green