.comin {
  animation: comin .3s; }

@keyframes comin {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  50% {
    transform: translateX(2rem) scale(1.1) rotate(-5deg); }
  80% {
    transform: rotate(5deg); }
  100% {
    opacity: 100%;
    transform: translateX(0); } }
