@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,700')

$darkestblue: rgb(10, 28, 40)
$darkblue: rgb(65, 132, 143)
$blue: rgb(114, 167, 163)
$lightblue: rgb(151, 192, 183)
$beige: rgb(238, 233, 209)
