@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
html, body, #root, #app {
  margin: 0;
  height: 100vh; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100vh;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Nunito', sans-serif; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input {
  font-family: "Nunito", sans-serif;
  background-color: #eee9d1; }
  input:placeholder {
    font-family: "Nunito", sans-serif; }

textarea {
  background-color: #eee9d1; }

h1 {
  font-size: 1.5rem;
  font-weight: bold; }

.unselectable {
  user-select: none; }

.ul-unstyled {
  list-style: none;
  margin: 0;
  padding: 0; }

.ul-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; }
  .ul-nav > li {
    margin-right: .2rem; }

.user-thumbnail {
  display: flex;
  align-items: center;
  padding: .2rem; }

.online {
  padding: .2rem;
  font-size: .8rem;
  border-radius: 2px;
  position: absolute;
  top: 60px;
  right: 8px;
  color: #eee9d1;
  font-weight: bold;
  letter-spacing: .05rem; }
  .online--red {
    background-color: #ff6666; }
  .online--green {
    background-color: #7fbf7f; }

.small {
  font-size: .7rem; }

.d-flex {
  display: flex; }

.flex-column {
  flex-direction: column; }

.flex1 {
  flex: 1 1 0%; }

.flex-justify-between {
  justify-content: space-between; }

.flex-justify-center {
  justify-content: center; }

.flex-align-items-center {
  align-items: center; }

.flex-wrap {
  flex-wrap: wrap; }

.overflow {
  overflow: auto; }

.height-overflow {
  height: calc(100% - 40px); }

.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

.text-center {
  text-align: center; }

.pointer {
  cursor: pointer; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.btn-toolbar {
  border: none;
  background-color: transparent;
  font-family: "Nunito", sans-serif;
  padding: .5rem 0;
  cursor: pointer;
  outline: none; }

.not-found {
  display: flex;
  padding-top: 3rem;
  justify-content: center;
  align-items: center;
    align-items-margin: .5rem; }

.left-label-form {
  display: flex;
  align-items: center;
  width: 120px;
  height: 24px; }
