@import '../../styles/charte.sass'

#app
  .app
    &-container
      position: relative
      background-color: $darkblue
      display: flex
      flex-direction: column
      font-family: 'Nunito', sans-serif
      overflow: hidden
      height: 100vh