@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.app-toolbar-list {
  align-items: center;
  display: flex;
  margin: 0;
  padding-left: 1rem;
  flex: 1; }
  .app-toolbar-list-item {
    padding: 0 1rem;
    position: relative; }
    .app-toolbar-list-item-form {
      padding-right: 2rem;
      position: relative;
      width: 100%; }
      .app-toolbar-list-item-form-input-search {
        padding: 0 !important;
        background-color: transparent; }
        .app-toolbar-list-item-form-input-search-icon {
          position: absolute;
          top: 2px;
          right: 2rem;
          transition: all 300ms;
          background-color: transparent;
          border: none;
          outline: none;
          cursor: pointer; }
          .app-toolbar-list-item-form-input-search-icon:hover {
            color: #d44c00; }
        .app-toolbar-list-item-form-input-search-container {
          padding: 0; }
