@import '../../../../../../styles/charte.sass'
.task-detail
  position: relative
  padding-top: .5rem
  padding-right: .5rem
  padding-left: .5rem
  &--header
    margin-bottom: 1rem
    & h1
      & .form-group
        padding: 0
        & .form-control
          padding: 0
          font-size: 1.5rem
          font-weight: bold
  & .modal-container
    height: 80%