@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.task {
  position: relative; }
  .task-content {
    padding: .5rem; }

.task-navbar {
  padding: .5rem;
  background-color: #97c0b7; }
