@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.chat {
  display: flex;
  height: 100%; }
  .chat-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: .5rem; }
  .chat-message-list {
    overflow: auto;
    height: 100%; }

.chat-message-list {
  margin-top: 1rem; }
  .chat-message-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0; }
    .chat-message-list-item-panel {
      position: relative; }
      .chat-message-list-item-panel-action {
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        transition: all 300ms; }
        .chat-message-list-item-panel-action:hover {
          color: #d44c00; }
    .chat-message-list-item--header {
      display: flex; }
      .chat-message-list-item--header .fullname {
        margin-right: .5rem;
        font-weight: bold; }
    .chat-message-list-item--content {
      padding: .5rem 0;
      font-size: .8rem; }

.action-panel {
  position: absolute;
  right: 0;
  padding: .5rem; }
  .action-panel li {
    cursor: pointer; }
  .action-panel button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 300ms; }
    .action-panel button:hover {
      color: #d44c00; }
