@import '../index.sass'
.chat-message-list
  margin-top: 1rem
  overflow-y: auto
  overflow-x: hidden
  height: 100%
  border-radius: 2px
  background-color: rgba(0,0,0, 0.2) 
  &-item
    padding: 1rem 0
    border-bottom: 1px solid rgba($darkestblue, 0.2)
    &-panel
      position: relative
      &-action
        border: none
        background-color: transparent
        outline: none
        cursor: pointer
        transition: all 300ms
        &:hover
          color: $orange
    &--header
      display: flex
      justify-content: space-between
      & .fullname
        margin-right: .5rem
        font-weight: bold
    &--content
      padding: .5rem 0
      font-size: .8rem