@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.chat {
  display: flex;
  height: 100%;
  background-color: #97c0b7; }
  .chat-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: .5rem; }
  .chat-message-list {
    overflow: auto;
    height: 100%; }

.chat-message-list {
  background-color: #eee9d1; }
  .chat-message-list-item {
    padding: .5rem 0; }
    .chat-message-list-item--header {
      display: flex; }
      .chat-message-list-item--header .fullname {
        margin-right: .5rem;
        font-weight: bold; }
    .chat-message-list-item--content {
      padding: .5rem 0;
      font-size: .8rem; }
