@import '../index.sass'
.chat-message-list
  background-color: $beige
  &-item
    padding: .5rem 0
    &--header
      display: flex
      & .fullname
        margin-right: .5rem
        font-weight: bold
    &--content
      padding: .5rem 0
      font-size: .8rem