@import '../index.sass'
.private-message-room
  padding: .5rem
  border-right: 2px solid $darkestblue
  @media (max-width: $xs)
    position: absolute
    top: 0
    bottom: 0
    z-index: 1
  &-list
    border-radius: 2px
    background-color: rgba(0,0,0,0.2)
  &-search-form
    position: relative
    width: 100%
    display: flex
    & input
      border: none
      width: 100%
      padding: .5rem
      box-sizing: border-box
      outline: none
    & button
      border: none
      background-color: transparent
      cursor: pointer
      transition: all 300ms
      margin-left: .3rem
      outline: none
      padding: .5rem 0
      &:hover
        color: $orange
  &-item
    display: flex
    justify-content: space-between
    transition: all 300ms
    cursor: pointer
    &:hover
      background-color: rgba(0,0,0, .2)
    &-selected
      background-color: rgba(0,0,0, .2)
      color: $orange
    & button
      border: none
      background-color: transparent
      cursor: pointer
      transition: all 300ms
      margin-left: .3rem
      outline: none
      padding: .5rem
      &:hover
        color: $orange