@import '../home.sass'

#footer
  padding: 2rem 1rem
  background-color: $darkestblue
  color: $beige
  position: relative
  &:before
    content: ''
    height: 5px
    background-color: $orange
    color: red
    position: absolute
    top: 0
    left: 0
    right: 0