@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
#homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  position: relative;
  padding-top: 5rem;
  background-color: #eee9d1; }

#footer {
  padding: 2rem 1rem;
  background-color: #0a1c28;
  color: #eee9d1; }
