@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
#homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: calc(100% - 5rem);
  padding-top: 5rem;
  background-color: #eee9d1; }

#footer {
  background-color: #0a1c28;
  color: #eee9d1;
  position: relative;
  height: 80px; }
  #footer:before {
    content: '';
    height: 5px;
    background-color: #d44c00;
    color: red;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
