@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.user-item {
  position: relative;
  background-color: #41848f;
  padding: .5rem;
  border: 3px solid #0a1c28;
  display: flex;
  flex-direction: column;
  min-width: 15rem;
  transition: all 200ms;
  margin: .5rem;
  height: 10rem;
  justify-content: space-between; }
  .user-item:hover {
    box-shadow: 0 0 10px 0 #0a1c28; }
  .user-item-header {
    display: flex;
    align-items: center; }
    .user-item-header-type {
      position: absolute;
      border-radius: 2px;
      padding: .2rem;
      top: 5px;
      right: 5px;
      font-size: .7rem;
      font-weight: bold; }
    .user-item-header .type--student {
      background-color: #eee9d1; }
    .user-item-header .type--other {
      background-color: #008e8b; }
