@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
@media (max-width: 500px) {
  .address-book-pagination {
    flex-direction: column; } }

.user-item {
  position: relative;
  padding: .5rem;
  border: 3px solid #0a1c28;
  display: flex;
  min-width: 15rem;
  transition: all 500ms;
  margin: .5rem;
  flex-direction: column; }
  .user-item:hover {
    box-shadow: 0 0 10px 0 #0a1c28; }
  .user-item-user {
    display: flex;
    align-items: center; }
  .user-item-header {
    margin-bottom: 1rem; }
    @media (max-width: 500px) {
      .user-item-header {
        flex-direction: column; } }
  .user-item .company-header-reset {
    padding: 0;
    margin: 0; }
  .user-item-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
    @media (max-width: 500px) {
      .user-item-buttons {
        padding-top: 1rem; } }
    .user-item-buttons button {
      width: 100%; }
