@import '../index.sass'

.user-item
  position: relative
  background-color: $darkblue
  padding: .5rem
  border: 3px solid $darkestblue
  display: flex
  flex-direction: column
  min-width: 15rem
  transition: all 200ms
  margin: .5rem
  height: 10rem
  justify-content: space-between
  &:hover
    box-shadow: 0 0 10px 0 $darkestblue
  &-header
    display: flex
    align-items: center
    &-type
      position: absolute
      border-radius: 2px
      padding: .2rem
      top: 5px
      right: 5px
      font-size: .7rem
      font-weight: bold
    & .type--student
      background-color: $beige
    & .type--other
      background-color: $blue