@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.task-detail {
  position: relative;
  padding-top: .5rem;
  padding-right: .5rem;
  padding-left: .5rem; }
  .task-detail--header {
    margin-bottom: 1rem; }
    .task-detail--header h1 .form-group {
      padding: 0; }
      .task-detail--header h1 .form-group .form-control {
        padding: 0;
        font-size: 1.5rem;
        font-weight: bold; }
  .task-detail .modal-container {
    height: 80%; }

.labels-modal {
  position: absolute;
  top: 25px;
  padding: .5rem;
  background-color: #cdd2d4;
  box-shadow: 0 1px 5px 0 #a5acb0;
  z-index: 1; }
