@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.chat {
  display: flex;
  height: 100%; }
  .chat-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: .5rem; }
  .chat-message-list {
    overflow: auto;
    height: 100%; }

.room {
  padding: .5rem; }
  .room-list button {
    border: none;
    background-color: transparent;
    cursor: pointer; }
    .room-list button:hover {
      color: #d44c00; }
