@import '../index.sass'
.room
  padding: .5rem
  border-right: 2px solid $darkestblue
  min-width: 250px
  @media (max-width: $xs)
    position: absolute
    top: 0
    bottom: 0
    z-index: 1
  & h2
    padding: .5rem 0
    font-weight: bold
    cursor: pointer
  &-list
    overflow: auto
    height: calc(100% - 60px)
    overflow-y: scroll
  