@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.chat {
  display: flex;
  height: 100%;
  background-color: #97c0b7; }
  .chat-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: .5rem; }
  .chat-message-list {
    overflow: auto;
    height: 100%; }

.room {
  padding: .5rem; }
  .room-list {
    overflow: auto;
    height: calc(100% - 40px); }
    .room-list button {
      border: none;
      background-color: transparent;
      cursor: pointer;
      transition: all 300ms;
      margin-left: .3rem; }
      .room-list button:hover {
        color: #d44c00; }
    .room-list-item {
      padding: .5rem; }
      .room-list-item ul li {
        display: flex;
        justify-content: space-between;
        transition: all 300ms;
        cursor: pointer; }
        .room-list-item ul li:hover {
          background-color: rgba(255, 255, 255, 0.2); }
      .room-list-item h2 {
        padding: .5rem;
        font-weight: bold; }
