@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.chat {
  display: flex;
  height: 100%; }
  .chat-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: .5rem; }

.room {
  padding: .5rem;
  border-right: 2px solid #0a1c28;
  min-width: 250px; }
  @media (max-width: 500px) {
    .room {
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 1; } }
  .room h2 {
    padding: .5rem 0;
    font-weight: bold;
    cursor: pointer; }
  .room-list {
    overflow: auto;
    height: calc(100% - 60px);
    overflow-y: scroll; }

.select-user-list {
  position: absolute;
  top: 2.5rem;
  background-color: #A1A1A6;
  width: 190px;
  overflow: auto;
  height: 250px;
  z-index: 1; }
