@import '../dashboard.sass'
.team
  &-toolbar
    position: absolute
    top: 0
    right: 0
    left: 0
    display: flex
    justify-content: space-between
    align-items: center
    padding: .5rem
    & button
      margin: 0
    &-appear
      opacity: 0.01
    &-appear.team-selector-appear-active
      opacity: 1
      transition: opacity 100ms
    &-exit
      opacity: 1
    &-exit.team-selector-exit-active
      opacity: 0.01
      transition: opacity 100ms
    &-list
      list-style: none
      margin: 0
      padding: 0
      display: flex
      align-items: center
      &-item
        border: 2px solid transparent
        margin-right: .3rem
    .team-list
      margin-left: .5rem