@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  background-color: #008e8b;
  border-bottom: 2px solid #0a1c28;
  cursor: grab; }
  .toolbar header {
    flex: 1; }
  .toolbar-title {
    display: inline-block;
    margin-left: 5px; }
  .toolbar-button-container {
    display: flex;
    align-items: center; }
