@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.task-detail {
  position: relative;
  padding-top: .5rem;
  padding-right: .5rem;
  padding-left: .5rem; }
  .task-detail header {
    margin-bottom: 1rem; }
    .task-detail header h1 .form-group {
      padding: 0; }
      .task-detail header h1 .form-group .form-control {
        padding: 0;
        font-size: 1.5rem;
        font-weight: bold; }
  .task-detail .modal-container {
    height: 50%; }

.label-list-item {
  display: flex;
  align-items: center; }
  .label-list-item-content {
    display: flex;
    border-radius: 3px;
    cursor: pointer; }
    .label-list-item-content span {
      padding: .5rem; }
  .label-list-item-edit {
    margin: .5rem;
    cursor: pointer; }
