@import '../../../index.sass'
.label-list
  &-item
    display: flex
    align-items: center
    &-content
      display: flex
      border-radius: 3px
      cursor: pointer
      & span
        padding: .5rem
    &-edit
      margin: .5rem
      cursor: pointer