@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.left-navbar {
  width: 10%; }
  .left-navbar-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    outline: none;
    padding: .5rem;
    text-align: left;
    transition: all 300ms; }
    .left-navbar-btn:hover {
      color: #d44c00; }
