@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.frame {
  background-color: #A1A1A6;
  border: 8px solid #0a1c28;
  border-radius: 2px;
  box-shadow: 0px 0px 20px 0px #0a1c28;
  flex-direction: column;
  min-height: 250px;
  min-width: 250px;
  position: absolute;
  overflow: auto;
  resize: both;
  max-height: 98%;
  display: flex;
  padding-bottom: 1rem; }
  @media (max-width: 500px) {
    .frame {
      bottom: 0 !important;
      height: inherit !important;
      left: 0 !important;
      resize: none;
      right: 0 !important;
      top: 0 !important;
      width: inherit !important;
      max-height: 100% !important; } }
  .frame-appear {
    opacity: 0.01; }
  .frame-appear.frame-appear-active {
    opacity: 1;
    transition: opacity 300ms ease-in; }
  .frame-exit {
    opacity: 1; }
  .frame-exit.frame-exit-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in; }
  .frame-reset {
    bottom: 0 !important;
    height: inherit !important;
    left: 0 !important;
    resize: none;
    right: 0 !important;
    top: 0 !important;
    width: inherit !important;
    max-height: 100% !important; }
  .frame-reduce {
    display: none; }
  .frame .child-app {
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: white;
    border-bottom: 2px solid #0a1c28; }
