@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.thumbnail-wrapper {
  display: flex;
  margin-top: 1rem; }
  .thumbnail-wrapper #docs {
    opacity: 0;
    position: absolute;
    width: .1px;
    left: -2500; }
  .thumbnail-wrapper .add-thumbnail {
    min-width: 80px;
    min-height: 112px;
    border: 2px dotted #0a1c28;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 500ms; }
    .thumbnail-wrapper .add-thumbnail:hover {
      box-shadow: 0 0 10px 0 #0a1c28;
      color: #d44c00; }
  .thumbnail-wrapper .thumbnail-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; }
    .thumbnail-wrapper .thumbnail-container .thumbnail-content {
      position: relative;
      width: 20%;
      margin-right: 1rem;
      margin-bottom: .5rem; }
      .thumbnail-wrapper .thumbnail-container .thumbnail-content p {
        overflow-wrap: break-word;
        font-size: .7rem; }
      .thumbnail-wrapper .thumbnail-container .thumbnail-content canvas {
        width: 100%;
        cursor: pointer;
        transition: box-shadow 200ms; }
        .thumbnail-wrapper .thumbnail-container .thumbnail-content canvas:hover {
          box-shadow: 0 0 10px 0 #0a1c28; }
      .thumbnail-wrapper .thumbnail-container .thumbnail-content .delete-thumbnail {
        position: absolute;
        top: -10px;
        right: -10px;
        border: none;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background-color: #ff6666;
        cursor: pointer;
        color: white;
        font-weight: bold;
        outline: none;
        transition: background-color 200ms; }
        .thumbnail-wrapper .thumbnail-container .thumbnail-content .delete-thumbnail:hover, .thumbnail-wrapper .thumbnail-container .thumbnail-content .delete-thumbnail:focus {
          background-color: red; }
        .thumbnail-wrapper .thumbnail-container .thumbnail-content .delete-thumbnail:active {
          background-color: #990000; }
