@import '../../styles/charte.sass'
.drag-drop
  min-height: 100px
  display: flex
  justify-content: center
  align-items: center
  background-color: $lightblue
  margin-top: .5rem
  &-over
    background-color: $orange