@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.drag-drop {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #97c0b7;
  margin-top: .5rem; }
  .drag-drop-over {
    background-color: #d44c00; }
