@import '../../styles/charte.sass'

#homepage
  display: flex
  flex-direction: column
  justify-content: space-between
  height: inherit
  position: relative
  padding-top: 5rem
  background-color: $beige
