@import '../../styles/charte.sass'

#homepage
  display: flex
  flex-direction: column
  justify-content: space-between
  align-items: center
  position: relative
  min-height: calc(100% - 5rem)
  padding-top: 5rem
  background-color: $beige
  & .subtitle
    font-size: 2rem
    padding: 1rem
  & .huge-title
    font-size: 2rem
    padding: 1rem 0
  & .explication
    font-size: 1.2rem
    line-height: 1.7rem
    width: 80%
  & em
    font-weight: bold
  & q
    font-style: italic
    font-weight: bold