@import '../../index.sass'
.replies-list
  margin-left: 40px
  &-small
    font-size: .7rem
    &-button
      background-color: transparent
      border: none 
      cursor: pointer
      font-weight: bold
      transition: all 300ms
      outline: none
      &:hover
        color: $orange