@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.chat {
  display: flex;
  height: 100%; }
  .chat-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: .5rem; }
  .chat-message-list {
    overflow: auto;
    height: 100%; }

.replies-list {
  margin-left: 40px; }
  .replies-list-small {
    font-size: .7rem; }
    .replies-list-small-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-weight: bold;
      transition: all 300ms;
      outline: none; }
      .replies-list-small-button:hover {
        color: #d44c00; }
