@import '../../../styles/charte.sass'

#signup
  align-items: stretch
  padding-top: 5rem
  height: initial
  overflow: hidden
  label
    color: $darkestblue
  .form
    width: inherit
    border: 5px solid $orange
  .form-content
    width: inherit
  #typeUser
    color: $darkestblue