@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
#signup {
  padding: 3rem 2rem;
  height: initial;
  overflow: hidden; }
  #signup label {
    color: #0a1c28; }
  #signup .form {
    width: inherit;
    border: 5px solid #d44c00; }
  #signup .form-content {
    width: inherit; }
  #signup #typeUser {
    color: #0a1c28; }
