@import '../../../styles/charte.sass'

#signup
  padding: 3rem 2rem
  height: initial
  overflow: hidden
  align-items: center
  @media (max-width: $xs)
    align-items: initial
  label
    color: $darkestblue
  .form
    width: inherit
    border: 5px solid $orange
    min-width: 500px
    @media (max-width: $xs)
      min-width: unset
  .form-content
    width: inherit
  #typeUser
    color: $darkestblue