@import '../../../styles/charte.sass'

#signup
  padding: 3rem 2rem
  height: initial
  overflow: hidden
  label
    color: $darkestblue
  .form
    width: inherit
    border: 5px solid $orange
  .form-content
    width: inherit
  #typeUser
    color: $darkestblue