@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.mask-loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(10, 28, 40, 0.5); }
