@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.chat {
  display: flex;
  height: 100%; }
  .chat-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: .5rem; }

.chat-message-list {
  margin-top: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%; }
  .chat-message-list-item {
    padding: 1rem 0;
    border-bottom: 1px solid rgba(10, 28, 40, 0.2); }
    .chat-message-list-item-panel {
      position: relative; }
      .chat-message-list-item-panel-action {
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
        transition: all 300ms; }
        .chat-message-list-item-panel-action:hover {
          color: #d44c00; }
    .chat-message-list-item--header {
      display: flex;
      justify-content: space-between; }
      .chat-message-list-item--header .fullname {
        margin-right: .5rem;
        font-weight: bold; }
    .chat-message-list-item--content {
      padding: .5rem 0;
      font-size: .8rem; }

.action-panel {
  position: absolute;
  right: 0;
  padding: .5rem;
  background-color: #A1A1A6; }
  .action-panel li {
    cursor: pointer; }
  .action-panel button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 300ms; }
    .action-panel button:hover {
      color: #d44c00; }
