@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.dashboard {
  position: relative;
  background-color: #41848f;
  height: 98%;
  display: flex;
  align-items: center;
  justify-content: center; }

#new-team {
  display: flex; }
  #new-team form {
    overflow-x: hidden; }
  #new-team .btn-container {
    margin-top: 2rem; }
