@import '../../../../../styles/charte.sass'

.team
  display: flex
  padding: 1rem
  justify-content: space-between
  flex-wrap: wrap
  .content
    flex: 1
    border-right: 2px solid $darkestblue
    &-newteam
      flex: 2
.full-width
  width: 100%