@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.team {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  color: #0a1c28; }
  .team .project-info-list .company {
    border: none;
    margin: 0;
    padding: 1rem 0 0 0; }
  .team .content {
    flex: 1; }
    .team .content-newteam {
      border: none;
      flex: 2; }

.full-width {
  width: 100%; }

.new-team {
  display: flex;
  height: 100%;
  flex-wrap: wrap; }
  .new-team-content {
    padding: .5rem; }
