@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.team {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  flex-wrap: wrap; }

.full-width {
  width: 100%; }

.ressource-container {
  padding-bottom: 1rem; }
  .ressource-container .ressourceItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 180px;
    min-width: 105px;
    background-color: #87b6ac;
    position: relative;
    justify-content: space-around; }
    .ressource-container .ressourceItem .search {
      padding: 0 .5rem;
      margin-bottom: .5rem; }
    .ressource-container .ressourceItem-temp {
      background-color: #9ac2b9;
      width: 0px;
      margin-right: 0;
      height: 100%; }
    .ressource-container .ressourceItem .btn-delete {
      position: absolute;
      top: -10px;
      right: -7px;
      border: none;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: #ff6666;
      cursor: pointer;
      color: white;
      font-weight: bold;
      outline: none;
      transition: background-color 200ms; }
      .ressource-container .ressourceItem .btn-delete:hover, .ressource-container .ressourceItem .btn-delete:focus {
        background-color: red; }
      .ressource-container .ressourceItem .btn-delete:active {
        background-color: #990000; }
    .ressource-container .ressourceItem img {
      width: 100px;
      height: 100px; }
