@import '../../styles/charte.sass'
.tags
  display: flex
  margin-top: .5rem
  flex-wrap: wrap
  &-item
    border: 2px solid $beige
    padding: .2rem .5rem
    background-color: $blue
    color: $beige
    font-weight: bold
    cursor: pointer
    outline: none
    margin-right: .5rem