@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
#profile {
  padding-top: 0;
  overflow: auto;
  height: 90%; }
  #profile * {
    color: #0a1c28; }
  #profile-form {
    width: 100%;
    border: none;
    overflow: auto;
    height: 100%; }
    #profile-form .tag-list {
      display: flex;
      list-style: none;
      padding: 0 1rem;
      margin: 0; }
      #profile-form .tag-list-item {
        padding: 0 .3rem;
        border: 2px solid #0a1c28; }
  #profile .profile-content-form-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    #profile .profile-content-form-wrapper .form-content {
      flex: 1; }
  #profile .profile-picture {
    width: 150px;
    height: 150px;
    padding-left: .5rem;
    border-radius: 50%; }
