@import '../../styles/charte.sass'

.company
  display: flex
  align-items: flex-start
  margin-bottom: .5rem
  padding-bottom: 1rem
  min-height: 60px
  &-logo
    width: 60px
    height: 60px
  &-info
    margin-left: 1rem
    &-name
      margin-left: .3rem
      font-weight: bold
  &-author
    display: flex
    align-items: center