@import '../../../styles/charte.sass'

.frame
  background-color: $lightblue
  border: 8px solid $darkestblue
  border-radius: 2px
  box-shadow: 0px 0px 20px 0px $darkestblue
  flex-direction: column
  min-height: 250px
  min-width: 250px
  position: absolute
  overflow: auto // Must be kept for the resize attribute
  resize: both
  max-height: 98%
  display: flex
  padding-bottom: 1rem
  &-appear
    opacity: 0.01
  &-appear.frame-appear-active
    opacity: 1
    transition: opacity 300ms ease-in
  &-exit
    opacity: 1
  &-exit.frame-exit-active
    opacity: 0.01
    transition: opacity 300ms ease-in
  &-reset
    bottom: 0 !important
    height: inherit !important
    left: 0 !important
    resize: none
    right: 0 !important
    top: 0 !important
    width: inherit !important
    max-height: 100% !important
  &-reduce
    display: none
  .child-app
    height: 100%
    overflow: hidden
    position: relative
    background-color: $beige
    border-bottom: 2px solid $darkestblue
    .app-toolbar
      background-color: rgba($blue, 0.5)
      border-bottom: 1px solid $darkestblue
      padding-top: .5rem
      padding-bottom: .5rem
      color: $beige
      border-bottom: 2px solid $darkestblue
      .btn-app-toolbar
        margin: 0
        border: 2px solid transparent
        background-color: transparent
        cursor: pointer
        transition: border 500ms
        outline: none
        &:hover
          border-bottom: 2px solid $darkestblue
      &-list
        list-style: none
        display: flex
        margin: 0
        padding-left: 1rem
        &-item
          padding: 0 1rem
          position: relative
