@import '../../../styles/charte.sass'

.frame
  position: absolute
  min-height: 250px
  min-width: 250px
  background-color: $beige
  border-radius: 2px
  border: 8px solid $darkestblue
  box-shadow: 0px 0px 20px 0px $darkestblue
  resize: both
  overflow: auto
  &-reset
    resize: none
    top: 0 !important
    left: 0 !important
    right: 0 !important
    bottom: 0 !important
    width: inherit !important
    height: inherit !important