@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.dashboard {
  position: relative;
  background-color: #41848f;
  height: 98%;
  display: flex;
  align-items: center;
  justify-content: center; }
