.selectbox-assign {
  padding: 0 1rem;
  cursor: pointer; }
  .selectbox-assign-btn {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none; }
    .selectbox-assign-btn .user-icon {
      padding: 0; }
  .selectbox-assign-list {
    background-color: gray;
    z-index: 1;
    min-width: 10rem; }
    .selectbox-assign-list-item {
      cursor: pointer;
      transition: all 300ms; }
      .selectbox-assign-list-item:hover {
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5); }
