@import url("https://fonts.googleapis.com/css?family=Nunito:400,400i,700");
.selectbox-assign {
  padding: 0 1rem;
  cursor: pointer; }
  .selectbox-assign button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer; }
  .selectbox-assign-list {
    background-color: white;
    z-index: 1;
    min-width: 10rem; }
    .selectbox-assign-list-item {
      cursor: pointer;
      transition: all 300ms;
      padding: .5rem; }
      .selectbox-assign-list-item .user-icon {
        padding: 0;
        color: black; }
      .selectbox-assign-list-item:hover {
        background-color: rgba(0, 0, 0, 0.2); }
