@import '../../../../../styles/charte.sass'
.selectbox-assign
  padding: 0 1rem
  cursor: pointer
  & button
    background-color: transparent
    border: none
    outline: none
    cursor: pointer
  &-list
    background-color: white
    z-index: 1
    min-width: 10rem
    &-item
      cursor: pointer
      transition: all 300ms
      padding: .5rem
      & .user-icon
        padding: 0
        color: black
      &:hover
        background-color: rgba(0,0,0, .2)
        