@import '../../dashboard.sass'
.wrapper
  display: flex
  flex-direction: column
  height: 400px
  justify-content: flex-start
  margin: .5rem
  width: 250px
  background-color: $beige
  position: relative
  transition: all 300ms
  &-reduced
    height: 50px
    overflow: hidden
  &-header
    height: 50px
  &-btn-close
    position: absolute
    right: 0
    top: 0
    padding: 0
    border: none
    background-color: transparent