@import '../profile.sass'
.teams
  align-items: flex-start
  padding: 1rem
  .team-container
    margin: 1rem
    transition: all 300ms
    cursor: pointer
    &:hover
      box-shadow: 0 0 10px 0 rgba($darkestblue, .5)
    div
      padding: 1rem
    h2
      font-weight: bold
    li
      display: flex
      align-items: center
      margin-top: .5rem